<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3班大事件</title>
    <style>
        .description{color:#a9a9a9;padding:0;}
        .description p{padding:0;margin:0;text-indent: 2em;}
    </style>
</head>
<body>
    <div id="app">
        <h2>3班大事件</h2>
        <el-timeline >
            <el-timeline-item
              v-for="(activity, index) in timelist"
              :key="index"
              :timestamp="activity.timestamp">
             {{activity.content}}
              <div class="description" v-if="activity.description" v-html="activity.description"></div>
            </el-timeline-item>
          </el-timeline>
    </div>
  </body>
    <!-- import Vue before Element -->
    <script crossorigin="anonymous" integrity="sha512-XdUZ5nrNkVySQBnnM5vzDqHai823Spoq1W3pJoQwomQja+o4Nw0Ew1ppxo5bhF2vMug6sfibhKWcNJsG8Vj9tg==" src="https://lib.baomitu.com/vue/2.6.14/vue.min.js"></script>   <!-- import JavaScript -->
    <!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 --><script crossorigin="anonymous" integrity="sha512-4yLzKsO6nw0x1zP8x5cfjEYvQQ7own5O1ObnCg9gKvpDzoeQTQVuW08eG7Utg5rEWkVRBHA9pU+R709rbJvJqA==" src="https://lib.baomitu.com/element-ui/2.15.7/index.min.js"></script>    <script>
      new Vue({
        el: '#app',
        data: function() {
          return { 
              timelist:[
{"timestamp":"2013-8-6","content":"厦门电子职业中专学校录取通知书陆续派送","description":"里面附带动感地带的电话卡"},
{"timestamp":"2013-8-15","content":"临时编班编成","description":""},
{"timestamp":"2013-9-2","content":"到校报到注册","description":""},
{"timestamp":"2013-9-2","content":"求学新路途：高辅班","description":`<p>“来来。做好来。”陈老师在讲台说道。</p>
<p>班级里响起了一阵走动和挪桌子挪椅子的声音，但一会儿就没了。</p>
<p>“大家也都知道。毕竟这所学校的性质是什么啊？是中专。你们的成绩一定…不说出来伤大家心了哈。”</p>
<p>“不会不会…”“唉…”“成绩什么的都浮云”一阵阵不同的声音同时响了起来。好像都是我的心声一样。一个用来表面语，一个是真实的想法，一个是借口。呵呵。</p>
<p>“但是。别吵了听我讲。我说了两个月脏话了给我收敛点。但是，你们不要灰心。这里有个表格。”不知道他是从哪里变出来的，忽然手里拿起了一叠纸，看起来像是通知单。</p>
<p>“这个表格是关于13级高辅预备班报名表。如果想读完中专两年后继续去深造的话一定要去高辅班。高辅班前途更大啊。” 陈老师推了推眼镜，继续认真的说“到时候我们高三出去顶岗实习的时候，高辅班的同学们还要留在学校准备高考。” </p>
<p>高辅？高考？不是中专吗？哪来的高考？</p>
<p>“老师，高辅班考哪些啊？高中一样的吗？”一个声音传来，但我不会告诉你这是黄强的声音，只不过我当时还不认识他。</p>
<p>“傻逼。不可能是普通高考的啦。我们是高职单招。考语数英和专业课4科。好了。详情都有写在通知单里面。有意愿的可以写报名表。最好是去高辅啦。那边出息更大的。但是会在军训前考试的。要做好准备。好了，关于刚才有人提到转班的问题，现在在确认一下有没有谁想转的举手下……”</p>
`},
{"timestamp":"2013-9-3","content":"新生入学水平测试","description":""},
{"timestamp":"2013-9-4","content":"军训第一天","description":`<p>暂编班22班的教室里曾发生过这一件事情。</p>
<p>“大家午休休息一下啊。下午军训太阳更大。”暂编班班主任说道。</p>
<p>“那个哪来的小学生啊这么可爱？！ ”全班同学都一起往第二组的第三桌看。一个正太型的脸，身高貌似又不高，看起来像小学生也不奇怪。</p>
<p>“好可爱啊”“卧槽，小朋友别逃学哦。”</p>
<p>原本只有风扇嘎吱嘎吱响的教室一瞬间传出爆炸般的笑声。</p>`},
{"timestamp":"2013-9-6","content":"暂编班调整，组建正式班","description":`<p>“好了，今天的军训到这里结束了。全体集合。感谢我们的武警三支队。请大家欢送他们。”又是李建平在主席台讲话。</p>
<p>“啪啪啪”大家有节奏的鼓掌着。</p>
<p>“大家。今天的表现。都。非常的。棒。到今天。已经。军训第五天了。接下来的4天时间，包括，最后一天的，出操。希望。大家。好好努力。争取。为自己的班级。贡献。自己的。一份力量！”</p>
<p>“之前的，高辅班报名表。名单呢，已经出来了。现在请暂编班班主任告诉去高辅班的同学的名单。等下，我们就会调换班级，成为正式班级。并且班级编号我们也将调整。”</p>
<p>许久。</p>
<p>“好了。调换班级的同学全体起立。找各自的班级先随便找个位置站好后，通知几件事情，然后回自己的正式班级。”李建平和其他老师讨论完了之后拿起话筒大声地喊道。</p>
<p>“好了安静！立正！勺息！立正~！”李建平操着不太准的普通话拿着麦克风大叫到。</p>
<p>“好了，下面开始通知事情。一！明天照常9点开始军训，第二…..”</p>
<p>“事情通知完了。请各位回自己的正式班级。没拿书包的去暂编班带走自己的东西去正式班。解散。”李建平说。</p>
<p>--------22班暂编班------------</p>
<p>“大家都是去3班的吗？”另一个陌生的声音（伟智）。</p>
<p>“是啊”又一个声音（不记得是谁了）。</p>
<p>“走啊！一起打群架去~”</p>
<p>“到时候3班的班主任不咬死你哟~”</p>
<p>“那咬回去呀！”一群人就这么有说有笑地从2楼走到5楼，可是我们互相是谁都不知道……</p>
<p>到了2506教室的门口，一群人就停下了脚步。</p>
<p>“要不要进去？”伟智问道。</p>
<p>“Go吧”不知道谁的声音附和着。</p>
<p>“报告！”伟智作为了我们一群人的代表</p>
<p>“请进。”班主任说“找个位置坐下。”</p>
<p>“好！”</p>
<p>在人来齐之后，班主任就开始说起了正事：“首先，欢迎大家就读厦门电子职业中专学校。虽然这所学校有一些不好的传闻，但是只要你们不要去干坏事，这种现象是绝对不会发生在你们身上的，所以我也提醒你们少去惹事。我姓吴。不出意外的话，是你们这3年的班主任。如果有事可以去下面3楼办公室找我。正常情况我都会待在办公室。在这里，只要一打架，不论是什么理由都会被开除。不要高中没得读了，连中专都要开除你们，多难看啊。”看着班主任那个锐利的眼神，似乎是说他是一个很严厉的班主任。</p>
<p>“接下来大家拿出一张纸。”班主任打开了一份word文档和投影仪。等屏幕完全亮了之后，班主任指着屏幕上的字对我们说：“大家也知道一个班级，要有班委。大家有没有想担任的班委，在纸上写下自己的名字和想担任的班委名称然后交给我，我在来整理。”</p>
<p>班会课接下来的时间，就是同学们互相认识的时间了。</p>
<p>过了一阵子后，班级嘈杂的声音被讲台的一阵开场白终止。</p>
<p>已经临近放学时间，看来正式班班主任要做自我介绍和通知事情了。</p>
<p>“好了安静一下！”班主任清了下嗓子“大家清楚，我们这个是高辅班。成绩太差，或者品行不好的，都会被清出高辅班。大家好自为之。好了。今天的值日生这样安排。到时候会让卫生委员贴出正式的值日表，但是要竞选班干部的。这几个同学最近几天辛苦一下，帮忙整理一下教室。”吴老师说完走向了电脑，打开了一份Excel文档，是一份2013级3班的点名表。“今天的值日生有邓理康、黄佳进、沈维杰和周琪昌。其他同学把椅子搬起来好让值日生值日。其他同学可以先放学。明天早上7点45分就得到教室！刚才念到的几个同学找我一下，放学。”</p>`},
{"timestamp":"2013-9-7","content":"军训拉歌","description":"在一次训间休息时，教官谈论到，今年是他当兵的最后一年，而且是他最后一次外出带军训。他还尝试教我们《对面的女孩看过来》。"},
{"timestamp":"2013-9-10","content":"军训汇演、教师节","description":""},
{"timestamp":"2013-9-11","content":"正式上课的第一节班会：敲定班委","description":`<p>2013年9月11日下午刚好是星期三。在电子学校，每周三下午惯例都是班会课。在电子学校生活的第一节班会课，力智老师的安排是——竞选班委。</p>
<p>“来，我们呆在正式班已经有3天了。这节班会课就来竞选班干部。上次让你们写的表格……”吴老师一脸坏笑后，熟练地打开了一份word文档，继续说道“报名的都在上面，待会要上台竞选和自我介绍。有没有人要放弃竞选的？”</p>
<p>过了紧张的竞选环节。最终的竞选结果为：李宇豪担任班长；汪伟和陈雅琳担任副班长；担任副班长；</p>
<p>“好了，班长，就决定是李宇豪了，大家有没有争议？”</p>
<p>“没有~”大家整齐地答应了这个竞选结果。</p>
<p>“那…”吴老师推了下眼镜“宇豪准备一下吧。”</p>
<p>“恩？”不止是宇豪，很多同学也跟着发出了这个疑问。</p>
<p>“你不是之前说过，当上班长之后，要在全班同学面前唱歌的吗？”吴老师也有点激动的说道。</p>
<p>“哦哦哦哦对对对…”宇豪也一副恍然大悟的样子。</p>
<p>“来，我这里有麦克风。大家，掌声！”</p>
<p>“最怕此生已经决定自己过没有你，却又突然听到你的消息…”宇豪唱完最后一句歌词后，腼腆地微微鞠躬，接受着大家的掌声。</p>
<p>“好，宇豪记得还欠我一首哈！”吴老师看着宇豪坏坏地笑着。不一会儿又拿出一副班主任的态度和气势，跟着全班同学说道“好了，班委到现在就全部选完了。现在2013级高辅3班就正式成立了！我希望接下来的时间里大家好好学习，多参加活动，为3班争光！”</p>
<p>“好！！！”</p>
<p></p>`},
{"timestamp":"2013-9-11","content":"第一堂数学课：火柴问题","description":`<p>上课铃响后，大家便纷纷回到了各自的座位上。</p>
<p>过了大约1分钟，2506教室的前门就走进来一位，穿着红色的披肩、黑色裙子，手拿着一摞东西的女教师。她把手中的东西放在了桌子上，简单的摆放开后，戴起了小蜜蜂。</p>
<p>她走到了刚好离开讲台的那第一块地砖后，双手微微一挥，铿锵有力的说“好，上课！”</p>
<p>“啊，起立”宇豪有点不习惯，但还是在全班起立了有三分之一的时候喊道。</p>
<p>“同学们好。”</p>
<p>“老师好！”</p>
<p>“好，请坐。”数学老师又继续说“大家好，我是你们的数学老师。我姓王。不出意外的话今年就教你们数学啦！”王老师用着和蔼的语气向同学们说话，完全没有一开始开场白的严肃感。</p>
<p>“今天呢是开学以来的第一堂数学课。那我们也就先不学习内容。我们来做一个小游戏吧！”没等全班同学反应过来，王老师又紧接着说“大家拿出一张科测验纸吧。”</p>
<p>大家听完王老师说的话后，纷纷拿出科测验纸。与此同时，王老师看了一下课纲后，拿出一根新的粉笔，在黑板上写下一个式子。</p>
<p>26-60=4</p>
<p>写完后，王老师放下粉笔，面朝我们说“大家想一下，怎么移动一个数字让这个等式成立？快快快，第一个想出来的有奖励呀！”</p>
<p>大家纷纷陷入思考。在科测验纸上画了又划、划了又写，可是就是没有一个说出正确的答案的。终于，有一个同学举手“老师答案是这个吗？”</p>
<p>王老师看到了他的手，小步走过去看了看他的科测验纸。许久后，王老师点点头“恩，没错。你叫什么名字？”</p>
<p>“昂，我叫曾俊。”那个男同学说。</p>
<p>“曾俊啊，好就是你了。你就当课代表吧！”</p>
<p></p>`},
{"timestamp":"2013-9-11","content":"第一堂英语课：用英文做一段自我介绍","description":""},
{"timestamp":"2013-9-17","content":"第一堂音乐课：每个人唱一首歌","description":"老师：“让我们开一场属于三班的音乐会！”"},
{"timestamp":"2013-9-21","content":"2013年第20号强热带风暴“帕布”","description":"放假咯~"},
{"timestamp":"2013-10-16","content":"班会课：运动会一分钟入场式讨论","description":`<p>大家把自己的桌椅分别往两边挪开，把中间腾出一个空位。然后开始了一分钟表演的商讨。力智一开始选定的曲子是《健康歌》。但跳了两个八拍的力智自己也跳不下去了，便随着大家的反对声重新开始了选曲的商讨。</p>
<p>“老师，不然跳《Sorry Sorry》吧！”陈伟智这时候说提出了一个他觉得非常棒的建议。</p>
<p>“搜搜看哈”力智在搜索框输入了起来。但看了一小会后，力智关掉了MV，重新把《健康歌》的MV调了出来。</p>
<p>“不要健康歌！！！”以理康为首的声音夹杂着其他人的和声在2506教室里响了起来......</p>
`},
{"timestamp":"2013-10-29","content":"运动会","description":"在之前的几天，我们得知力智老师再十月份结束后就要被外派出差约两个月。所以宇豪等几人决心在运动会的比赛项目中为班级争得荣誉。"},
{"timestamp":"2013-12-4","content":"消防安全演练","description":""},
{"timestamp":"2013-12-25","content":"圣诞节班会","description":""},
{"timestamp":"2014-2-16","content":"高一第二学期报道","description":""},
{"timestamp":"2014-3-22","content":"计算机一级考试（office）","description":""},
{"timestamp":"2014-4-16","content":"趣味运动会一分钟入场式讨论班会","description":"第二学期的运动会仍然有一分钟入场式，在经历了第一次运动会的一分钟排练，大家显得更有经验了一些。这次决定让全班都参与进来。也就敲定了风靡一时的《最炫民族风》和《千年等一回》作为BGM，加由简单的踱步与千手观音的手势完成全班参与性的入场式表演。"},
{"timestamp":"2014-4-17","content":"义卖会活动","description":""},
{"timestamp":"2014-5-12","content":"学校活动？","description":""},
{"timestamp":"2014-6-3","content":"最后一次心理课，焦急的心理老师","description":"与心理学相关的课程只在大一的上下两个学期开设，6月份临近第二学期末，尹春雨老师对我们班的平时成绩的评定感到吃力，因为可以记录的计分点实在是太少。以至于最后的几堂课，突然变成了从第一组到第四组按顺序挨个回答老师刚才提到的问题，来弥补平时成绩评定这个大坑。"},
{"timestamp":"2014-6-18","content":"文艺汇演：合唱《北京东路的日子》","description":"在体育馆举行的合唱节目，3班合唱的歌曲是《北京东路的日子》。表示从1楼到5楼的距离原来不过1年，表示从去年9月到今天也仅仅相聚8个月至多。熟悉的旋律不走心的歌唱，力智在这学期结束后也卸任了班主任的担任。"},
{"timestamp":"2014-12-17","content":"2014年科技节闭幕汇演","description":""},
{"timestamp":"2014-12-31","content":"跨元旦节班会","description":""},
{"timestamp":"2015-1-19","content":"班级拓展活动","description":""},
{"timestamp":"2015-3-2","content":"班级值周","description":""},
{"timestamp":"2015-4-28","content":"高二年趣味运动会","description":""},
{"timestamp":"2015-6-13","content":"林里酒楼饭局","description":"佳进差点去见马克思"},
{"timestamp":"2015-6-23","content":"第二次团日活动：捡垃圾","description":""},
{"timestamp":"2015-9-1","content":"高三上开学","description":""},
{"timestamp":"2015-9-3","content":"抗战胜利暨世界反法西斯战争胜利70周年放假","description":""},
{"timestamp":"2015-10-21","content":"因班级纪律太差被班主任留下来多自习1个小时","description":""},
{"timestamp":"2015-10-25","content":"张勇智老师提出的VB知识PK榜第二次更新","description":""},
{"timestamp":"2015-11-2","content":"一模考试","description":"这三天也是校运会，但是我们已经成熟了，不参加这些活动了。"},
{"timestamp":"2015-11-2","content":"高职单招考试告知家长会","description":""},
{"timestamp":"2015-12-21","content":"二模考试","description":""},
{"timestamp":"2016-1-2","content":"“求佛一行人”南普陀寺半日游","description":""},
{"timestamp":"2016-1-4","content":"高考体检","description":""},
{"timestamp":"2016-1-11","content":"三模考试","description":""},
{"timestamp":"2016-1-18","content":"高考温书周","description":""},
{"timestamp":"2016-1-22","content":"高职单招笔试","description":""},
{"timestamp":"2016-1-24","content":"高职单招笔试结束，拍摄自己的毕业照","description":""},
{"timestamp":"2016-1-24","content":"毕业聚餐","description":""},
{"timestamp":"2016-4-9","content":"高职单招上机考试第一批考生前往福州","description":""},
{"timestamp":"2016-4-17","content":"高职单招上机考试集训","description":""},
{"timestamp":"2016-5-22","content":"第三次返校","description":""},
{"timestamp":"2016-7-3","content":"毕业典礼","description":""},
{"timestamp":"2016-7-3","content":"毕业典礼之后的嗨森","description":"在SM吃完饭之后，一行人就前往了枋湖客运中心的KTV里继续唱歌。唱到了"},
{"timestamp":"2017-2-11","content":"“工院学子高中母校行”返校活动","description":""},
{"timestamp":"9999-12-31","content":"班级拓展","description":""},
{"timestamp":"9999-12-31","content":"椰风寨的烧烤","description":""},

]
               }
        }
      })
    </script>
</html>