<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3班大事件</title>
    <style>
        .description{color:#a9a9a9;padding:0;}
        .description p{padding:0;margin:0;text-indent: 2em;}
    </style>
</head>
<body>
    <div id="app">
        <h2>3班大事件</h2>
        <el-timeline >
            <el-timeline-item
              v-for="(activity, index) in timelist"
              :key="index"
              :timestamp="activity.date">
             {{activity.content}}
              <div class="description" v-if="activity.description" v-html="activity.description"></div>
            </el-timeline-item>
          </el-timeline>
    </div>
  </body>
    <!-- import Vue before Element -->
    <script crossorigin="anonymous" integrity="sha512-XdUZ5nrNkVySQBnnM5vzDqHai823Spoq1W3pJoQwomQja+o4Nw0Ew1ppxo5bhF2vMug6sfibhKWcNJsG8Vj9tg==" src="https://lib.baomitu.com/vue/2.6.14/vue.min.js"></script>   <!-- import JavaScript -->
    <!-- 引入样式 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 --><script crossorigin="anonymous" integrity="sha512-4yLzKsO6nw0x1zP8x5cfjEYvQQ7own5O1ObnCg9gKvpDzoeQTQVuW08eG7Utg5rEWkVRBHA9pU+R709rbJvJqA==" src="https://lib.baomitu.com/element-ui/2.15.7/index.min.js"></script>    <script>
      new Vue({
        el: '#app',
        data: function() {
          return { 
              timelist:[]
               }
        },
        created(){
            this.loadJson()
        },
        methods:{
            loadJson() {
                    let _this = this
                    try {
                        axios.get('./resource.json').then(response => {
                            //succces callback

                            // this.allJsonData = this.allJsonData[0]
                            this.timelist = response.data
                            // console.log('this.allJsonData.data')
                            // console.log(this.allJsonData.data)
                        });

                    }
                    catch (e) {
                        console.log('axios异常')
                    }
                },
        }
      })
    </script>
</html>