<% if (site.tags.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title">小天地链接</h3>
    <div class="widget">
      <p><a href="blog.chenlx.top">旧博客：blog.chenlx.top</a></p>
    </div>
  </div>
<% } %>